{% extends "parent/master.html.twig" %}

{% block content %}

<h3>Child Record:</h3>

<table class="table table-hover table-info">
    <tr><th>First Name</th><th>Last Name</th><th>Gender</th><th>Group</th><th>Record date</th><th>Record by</th><th>Weight (kg)</th><th>Height (cm)</th><th>Skills</th><th>Note</th><th>Photo</th></tr>
    {% for a in list %}
    <tr>
        <td>{{a.firstName}}</td>
        <td>{{a.lastName}}</td>
        <td>{{a.gender}}</td>
        <td>{{a.groupName}}</td>
        <td>{{a.noteCreatedTS}}</td>
        <td>{{a.educatorName}}</td>
        <td>{{a.weight}}</td>
        <td>{{a.height}}</td>
        <td>{{a.skills}}</td>
        <td>{{a.note}}</td>
        <td><img src="../{{a.photoFilePath}}" width="150"></td>
    </tr>
    {% endfor %}
</table>

<a class="herf" href="/parent/parent_board"><img src="/images/back.jpg" width="40px"/></a><br>

{% endblock content %}