{% extends "educator/master.html.twig" %}

{% block content %}
<a class="herf" href="/educator/childlist"> <img src="/images/back.jpg" width="40px"/></a>
<h1 class="edu" onmouseover="style.color='yellow'
"onmouseout="style.color='green'"><img src="/images/child.jpg" width="70px"/>Child Note List</h1>

<a class="herf3" href="/educator/addchildnotes?childId={{childId}}"><img src="/images/note.jpg" width="60px"/></a> </p>
<h5  class"date">Date: {{today}}<h5><br>

<table class="admintable1">
    <tr> <th>First Name:{{child.firstName}}</th>
    <th>Last Name:{{child.lastName}}</td></tr>
    <tr>  <th  class="th">Photo</th> <th  class="th">Height(cm)</th><th class="th">Weight(kg)</th> <th  class="th">Skill</th><th class="th">Notes</th> <th class="th">Record Date</th> <th class="th">Edit</th><th class="th">Remove</th></tr>
    {% for a in list %}
        <tr>
           <td class="th1" ><img src="../{{a.photoFilePath}}" width="150" hight="100" alt="notepic"></td>

            <td  class="th">{{a.height}}</td>
            <td class="th" >{{a.weight}}</td>
            <td  class="th">{{a.skills}}</td>
            <td  class="th1">{{a.note}}</td>
             <td  class="th">{{a.noteCreatedTS}}</td>
            <td ><a class="herf1" href="/educator/note_edit?noteId={{a.id}}"><img src="/images/pencil.png" width="30px"/> </a></td>
           <td> <a class="herf2" href="/educator/note_remove?noteId={{a.id}}&childId={{childId}}"><img src="/images/remove-friend.png" width="30px"/></a></td>
        </tr>
    {% endfor %}
</table>
<div class = "pic"><img src="/images/kids.png" width="800" height="250" /></div>
{% endblock content %}
