{% extends "admin/master.html.twig" %}

{% block title %}Children List{% endblock %}

{% block addHead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".subbutton").click(function(ev){
            if(!confirm("Are you sure you want to delete this child?")) {
                ev.preventDefault();
                return;
            }
            else{
                $form.submit();
            }
        });
    });

</script>
        {% endblock %}

{% block content %}

{% for g in groupList %}
<h3>Class Name: {{g.gname}}</h3>
<h3>Educator: {{g.tfname}} {{g.tlname}}</h3>
<table class="admintable">
    <tr><th>Child Name</th><th>gender</th><th>dateOfBirth</th><th>firstSchoolDay</th><th>Parent Name</th><th>Phone Number</th><th>Action</th><th>Growth Curve</th></tr>
    {% for a in list %}
    {% if a.groupName == g.gname %}
        <tr>
            <td>{{a.cfname}} {{a.clname}}</td>
            <td>{% if a.gender == "F" %}
  <img src="/images/female.png" width="30px"/>
{% else %}
   <img src="/images/male.png" width="30px"/>
{% endif %}</td>
            
            <td>{{a.cdob}}</td>
            <td>{{a.cfsd}}</td>
            <td>{{a.pfname}} {{a.plname}}</td>
            <td>{{a.phone}}</td>
            <td>
                <form method="post" action="/admin/childrenlist/delete/{{a.id}}">
                    <input class="subbutton" type="submit" value="Remove"/>
                </form>
            </td>
            <td>
                <a href="/admin/growthchart/{{a.id}}"><img src="/images/trend.png" width="30px"/></a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endfor %}
<div class="pageNavigation">
{% if prevNo %}<a href="/admin/childrenlist/{{prevNo}}"><img src="/images/prev.png" width="30"/></a>{% endif %}
{% for no in 1 .. 4 %}
    {% if no == pageNo %}
        {{no}}
    {% else %}
    <a id="index" href="/admin/childrenlist/{{no}}">{{no}}</a>
    {% endif %}
{% endfor %}
{% if nextNo %}<a href="/admin/childrenlist/{{nextNo}}"><img src="/images/next.png" width="30"/></a>{% endif %}
</div>

<p> <a href="/admin/"><img src="/images/back.jpg" width="40px"/></a> </p>

{% endblock %}