{% extends "admin/master.html.twig" %}

{% block title %}User List{% endblock %}

{% block addHead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var currId = 0;
        $(document).ajaxError(function() {
            alert("AJAX error");
        });
        $(document).ready(function() {
            $("#showEidtUser").click(function(){
                $("#viewEditPane").show();
            });
            $("#cancel").click(function(){
                $("#viewEditPane").hide();
            });
            $("#update").click(function(){
                var phoneVal = $("input[name=phone]").val();
                var addrVal = $("input[name=address]").val();
                var roleVal = $("select[name=role]").val();
                var userObj = {phoneNumber: phoneVal, address: addrVal, role: roleVal};
                var josnString = JSON.stringify(userObj);

               $.ajax({
                    url: '/admin/userlist/' + currId,
                    type: 'PATCH',
                    data: josnString,
                    dataType: 'json'
                }).done(function (newId) {
                    alert("Record with Id=" + currId + "updated");
                    currId = 0;
                    $("#viewEditPane").hide();
                    refreshUserList();
            });
        });

        $("#delete").click(function(){
                if(currId == 0) return;
                if(!confirm("Are you sure you want to delete this user?")) return;
                $.ajax({
                    url: '/admin/userlist/' + currId,
                    type: 'DELETE',
                    dataType: 'json'
                }).done(function (result) {
                    alert("deleted successfully" + result);
                    refreshUserList();
                    currId = 0;
                    $("#viewEditPane").hide();
                });
            });

            $("#delete").click(function(){
                if(currId == 0) return;
                $.ajax({
                    url: '/admin/userlist/' + currId,
                    type: 'DELETE',
                    dataType: 'json'
                }).fail(function (result) {
                    alert("cannot delete the user who has children in daycare");
                    refreshUserList();
                    currId = 0;
                    $("#viewEditPane").hide();
                });
            });
        });
        
        function selectUser(id){
            $.ajax({
                url: '/admin/userlist/' + id,
                type: 'GET',
                dataType: 'json'
            }).done(function (user) {
                currId = user.id;
                $("#id").html(user.id);
                $("#email").html(user.email);
                $("#name").html(user.firstName + " " + user.lastName);
                $("#gender").html(user.gender);
                $("#createdTS").html(user.createdTS);
                $("input[name=phone]").val(user.phoneNumber);
                $("input[name=address]").val(user.address);
                $("select[name=role]").val(user.role);
                $("#viewEditPane").show();
            });
        }

        function refreshUserList() {
            location.reload();
            // $.ajax({
            //     url: '/parent/modifychildinfo',
            //     type: 'GET',
            //     dataType: 'json'
            // }).done(function (child) {
            //     var tbody = '<tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Gender</th><th>Date Of Birth</th><th>Emergency Contact</th><th>Emergency Phone</th></tr>';
            //     for (var i = 0; i < childList.length; i++) {
            //         var child = childList[i];
            //         tbody += '<tr onclick="selectUser(' + child.id + ')">';
            //         tbody += '<td>' + child.id + '</td>';
            //         tbody += '<td>' + child.firstName + '</td>';
            //         tbody += '<td>' + child.lastName + '</td>';
            //         tbody += '<td>' + child.gender + '</td>';
            //         tbody += '<td>' + child.dateOfBirth + '</td>';
            //         tbody += '<td>' + child.emergencyContact + '</td>';
            //         tbody += '<td>' + child.emergencyPhone + '</td>';
            //         tbody += '</tr>';
            //     }
            //     $("#childrenInfoMainPane").html(tbody);
            // });
        }
    </script>
 {% endblock %}

{% block content %}

<div id="mainAppPane">
    <div id="listPane">
        <table id="listTable" class="table table-hover table-info">
            <tr><th>ID</th><th>Email</th><th>Role</th><th>Account Created Time</th><th>Name</th><th>Gender</th><th>Phone Number</th><th>Address</th></tr>
            {% for a in list %}
            <tr onclick="selectUser('{{a.id}}')" data-toggle="modal" data-target="#exampleModalCenter">
                <td>{{a.id}}</td>
                <td>{{a.email}}</td>
                <td>{{a.role}}</td>
                <td>{{a.createdTS}}</td>
                <td>{{a.firstName}} {{a.lastName}}</td>
                <td>{{a.gender}}</td>
                <td>{{a.phoneNumber}}</td>
                <td>{{a.address}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{a.firstName}} {{a.lastName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="viewEditPane">
        Id: <span id="id">{{a.id}}</span><br/>
        Email: <span id="email">{{a.email}}</span><br/>
        Name: <span id="name">{{a.firstName}} {{a.lastName}}</span><br/>
        Gender: <span id="gender">{{a.gender}}</span><br/>
        Created Time: <span id="createdTS">{{a.createdTS}}</span><br/>
        Phone Number: <input type="text" name="phone" placeholder="888-888-8888"><br/>
        Address: <input type="text" name="address"><br/>
        Role: <select name="role">
                <option value="parent">Parent</option>
                <option value="educator">Educator</option>
                <option value="admin">Manager</option>
                </select><br/>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="update" class="btn btn-primary">Update</button>
        <button type="button" id="delete" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>
<p><a href="/admin/"><img src="/images/back.jpg" width="40px"/></a></p>
{% endblock %}