{% extends "admin/master.html.twig" %}

{% block title %}Waitinglist{% endblock %}

{% block addHead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".wadd").click(function(ev){
            if(!confirm("Are you sure you want to add this child into daycare?")) {
                ev.preventDefault();
                return;
            }else{
                $form.submit();
            }
        });
        $(".wdelete").click(function(ev){
            if(!confirm("Are you sure you want to delete this child?")) {
                ev.preventDefault();
                return;
            }else{
                $form.submit();
            }
        });
    });

</script>
 {% endblock %}

{% block content %}

<table class="admintable">
    <tr><th>ID</th><th>Child Name</th><th>Gender</th><th>Date of Birth</th><th>Has Siblings</th><th>Parent Name</th><th>Phone Number</th><th>Email</th><th>Actions</th></tr>
    {% for a in list %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.cfname}} {{a.clname}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.dateOfBirth}}</td>
            <td>{{a.hasSibling}}</td>
            <td>{{a.pfname}} {{a.plname}}</td>
            <td>{{a.phoneNumber}}</td>
            <td>{{a.email}}</td>
            <td><form class="wadd" method="post" action="/admin/waitinglist/add/{{a.id}}">
                    <input type="submit" value="ADD">
                </form>
                <form class="wdelete" method="post" action="/admin/waitinglist/delete/{{a.id}}">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<p> <a href="/admin/"><img src="/images/back.jpg" width="40px"/></a> </p>

{% endblock %}